body {
    display: flex;
    flex-direction: column;
}

.app-container{
    display: block;
    margin: auto;

    width: 80vw;
    max-width: 50rem;
    min-width: 30rem;
}

.form-body{
    display: flex;
    flex-direction: column;
}
  
.form-field{
    margin: 1rem;
}

.container {
    display: flex;
    flex-direction: column;
    margin: 1rem 0 1rem 0;
}

.field-container {
    display: flex;
    flex-direction: row;
    margin: 1rem 0 1rem 0;
}

.field-content {
    margin: 0 1rem 0 0rem;
}

.basic-info-container {

}

.resume-selection-container {

}

.job-page-tools-container {

}

.edit-job-text-container {
    display: flex;
    flex-direction: column;
}

.writing-style-container {

}

.added-notes-container {

}

.edit-cover-letter-container {

}

.form-action {

}

.btn {
    background-color: light-dark(var(--color-accent-1), var(--color-accent-1));
    color: var(--color-text-light);
}

