body {
    display: flex;
    flex-direction: column;
}

.app-container{
    display: block;
    margin: auto;

    width: 80vw;
    max-width: 50rem;
    min-width: 30rem;

    margin-bottom: 10rem;
}

.form-body{
    display: flex;
    flex-direction: column;
}
  
.form-field{
    margin: 1rem;
}

.container {
    display: flex;
    flex-direction: column;
    margin: 2rem 0 2rem 0;

    
}

.field-container {
    display: flex;
    flex-direction: row;
    margin: 0.25rem 0 0.25rem 0;
}

.field-content {
    margin: 0 1rem 0 0rem;
}

.basic-info-container {

}

.resume-selection-container {
    display: flex;
    flex-direction: column;
}

.job-page-tools-container {
    
}

.job-link-container {
    display: flex;
    flex-direction: column;
}

.job-link-input-container {
    display: flex;
    flex-direction: row;
    align-items: center;

    margin-bottom: 1rem;
}

.job-link-input {
    height: 100%;
    width: 50%;
}

.edit-job-text-container {
    display: flex;
    flex-direction: column;
}

.writing-style-container {

}

.writing-style-header {
    margin: 0;
    margin-bottom: 0.5rem;
}

.added-notes-container {

}

.edit-cover-letter-container {

}

.form-action {
    height: 3rem;
    width: 100%;
}

.btn {
    background-color: light-dark(var(--color-accent-1), var(--color-accent-1));
    color: var(--color-text-light);

    transition: background-color 0.1s ease-in-out;
}

.btn:hover {
    background-color: var(--color-accent-hover);
}

input {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
}

textarea {
    padding: 0.5rem;
}



